In [1]:
# Exercise for pandas

import pandas as pd
import numpy as np

In [4]:
# Read the hacker news csv file
df = pd.read_csv("../data/hacker_news.csv")

In [5]:
# Get the first five rows
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
2,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
3,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
4,10482257,Title II kills investment? Comcast and other I...,http://arstechnica.com/business/2015/10/comcas...,53,22,Deinos,10/31/2015 9:48

In [6]:
# Get the last five rows
df.tail()

,id,title,url,num_points,num_comments,author,created_at
20094,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20095,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20096,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20097,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20098,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [9]:
# Get the title column as pandas series
t = df.title
print(t)

0                                Interactive Dynamic Video
1        Florida DJs May Face Felony for April Fools' W...
2             Technology ventures: From Idea to Enterprise
3        Note by Note: The Making of Steinway L1037 (2007)
4        Title II kills investment? Comcast and other I...
                               ...
20094    How Purism Avoids Intels Active Management Tec...
20095            YC Application Translated and Broken Down
20096    Microkernels are slow and Elvis didn't do no d...
20097                        How Product Hunt really works
20098    RoboBrowser: Your friendly neighborhood web sc...
Name: title, Length: 20099, dtype: object
<class 'pandas.core.series.Series'>

In [27]:
# Filter the titles which contain python
python = df[df["title"].str.contains("python")]
python.head()

,id,title,url,num_points,num_comments,author,created_at
765,12117140,IronPython 3 (python for .net) development res...,https://www.reddit.com/r/Python/comments/4tbhw...,3,1,tanlermin,7/18/2016 18:34
6129,10512775,Learn data science in python by taking online ...,http://www.dezyre.com/data-science-in-python/36,1,1,shankar251289,11/5/2015 11:34
6711,11328646,"Show HN: Dplython, dplyr data manipulation for...",https://github.com/dodger487/dplython,11,1,capybara,3/21/2016 15:18
7979,10993953,Kickstarter for funding Micropython port to ES...,https://www.kickstarter.com/projects/214379695...,98,41,Sfabris,1/29/2016 7:16
13218,12095313,DQN for Beginners in 200 lines of python code ...,https://yanpanlau.github.io/2016/07/10/FlappyB...,5,1,yanpanlau,7/14/2016 16:40

In [28]:
# Filter the titles which contain JavaScript
javascript = df[df["title"].str.contains("JavaScript")]
javascript.head()

,id,title,url,num_points,num_comments,author,created_at
267,12352636,Show HN: Hire JavaScript - Top JavaScript Talent,https://www.hirejs.com/,1,1,eibrahim,8/24/2016 15:16
811,10741251,Ask HN: Are there any projects or compilers wh...,NaN,1,2,ggonweb,12/15/2015 23:26
1046,11343334,"If you write JavaScript tools or libraries, bu...",https://medium.com/@Rich_Harris/how-to-not-bre...,48,19,callumlocke,3/23/2016 10:54
1093,10422726,Rollup.js: A next-generation JavaScript module...,http://rollupjs.org,57,17,dmmalam,10/21/2015 0:02
1162,12461624,V8 JavaScript Engine: V8 Release 5.4,http://v8project.blogspot.com/2016/09/v8-relea...,126,19,okket,9/9/2016 12:46

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20099 entries, 0 to 20098
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20099 non-null  int64
 1   title         20099 non-null  object
 2   url           17659 non-null  object
 3   num_points    20099 non-null  int64
 4   num_comments  20099 non-null  int64
 5   author        20099 non-null  object
 6   created_at    20099 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

In [30]:
df.describe()

                 id    num_points  num_comments
count  2.009900e+04  20099.000000  20099.000000
mean   1.131755e+07     50.296632     24.803025
std    6.964531e+05    107.110322     56.108639
min    1.017691e+07      1.000000      1.000000
25%    1.070172e+07      3.000000      1.000000
50%    1.128452e+07      9.000000      3.000000
75%    1.192613e+07     54.000000     21.000000
max    1.257898e+07   2553.000000   1733.000000